/*Fondos importados*/
@font-face {
	font-family: RobotoFuenteCustom;
	src: url(fuenteImportada/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}


h1{
	font-family: 'Bruno Ace SC', cursive;
	font-style: italic;
	text-transform: uppercase;


	/*Colores*/

	/*Colores del sistema*/
	color: mediumpurple;

	/*Hexadecimales*/
	color: #33aa00;
}

h3{
	font-family: RobotoFuenteCustom, "Comic Sans MS";
	font-size: 25px;
	font-weight: lighter;
}

p{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

